# Build Results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.unsuccessfulbuild
*.userprefs

# Logs
*.log
*.tlog
*.ide.log

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Backup and temporary files
*.bak
~$*
*.tmp
*.temp
*.tmp_proj

# Debug and Release configuration files
*.pdb
*.cache
*.ilk

# NuGet Packages
*.nupkg
*.snupkg
# Packages directory can be ignored when using NuGet Package Restore
**/packages/
# Uncomment if necessary
#!**/packages/keep_this_package
# If using Visual Studio 2017 or later
*.nuget.props
*.nuget.targets

# Tooling
.vs/
.vscode/
_Resharper*/
.idea/
*.dotCover

# Azure DevOps
.vsts/

# Database
*.mdf
*.ldf
*.ndf

# Entity Framework
*.edmx.sql
*.edmx.diagram

# DotNet Core
project.lock.json
project.fragment.lock.json
artifacts/

# JetBrains Rider
.idea/
*.sln.iml

# Code analysis results
*.codeanalysis

# Coverage results
*.coverage
*.coveragexml
*_i.cov
*_p.cov
*.dacpac
*.bacpac

# Crash reports
*.dmp

# Node.js
node_modules/

# Yarn
.yarn/
.yarnrc.yml

# NPM Debug file
npm-debug.log*
yarn-debug.log*
yarn-error.log*
